.palette-1 {color:#fff !important;background-color:#52575d !important}
.palette-1-light {color:#000 !important;background-color:#dbdddf !important}
.palette-1-dark {color:#fff !important;background-color:#313437 !important}
.p1:hover {color:#000 !important;background-color:#dbdddf !important}

.palette-2 {color:#fff !important;background-color:#41444b !important}
.palette-2-light {color:#000 !important;background-color:#d7d9dc !important}
.palette-2-dark {color:#fff !important;background-color:#26282c !important}

.clickable-container {margin:0px !important}
.clickable-container:hover {color:#000 !important;background-color:#dbdddf !important}
.clickable-container:active {border:0px !important; outline: 0}
.clickable-container:focus {border:0px !important; outline: 0}

.palette-3 {color:#fff !important;background-color:#fddb3a !important}
.palette-3-light {color:#000 !important;background-color:#fff8d8 !important}
.palette-3-dark {color:#fff !important;background-color:#b99a02 !important}

.exitBtn:hover {color:#000 !important;background-color:#fff8d8 !important}
.exitBtn:active {border:0px !important; outline: 0}
.exitBtn:focus {border:0px !important; outline: 0}

.palette-4 {color:#fff !important;background-color:#fdd71b !important}
.palette-4-light {color:#000 !important;background-color:#fff8d8 !important}
.palette-4-dark {color:#fff !important;background-color:#b99a02 !important}

.palette-5 {color:#fff !important;background-color:#f6f4e6 !important}
.palette-5-light {color:#000 !important;background-color:#fdfdfa !important}
.palette-5-dark {color:#fff !important;background-color:#c3b759 !important}

.main-font {
  font-family: "Avenir Next" !important;
}

.col-1 {
  height:474px;
  padding-left: 35px;
  padding-top: 10px;
  font-size: 60px;
  margin: 0px !important;
}

.medium{
  font-size: 40px;
}

.header {
  padding: 64px;
}

.nextbtn {
  background-color:transparent;
  border:0px;
  color: #fff;
}
.nextbtn:hover {
  color: #888;
  cursor:pointer;
}

.nextbtn:visited {
  background-color:transparent;
  border:0px !important
}


.nextbtn:active {
  color: #888;
  background-color:transparent;
  border:0px !important;
  outline: 0
}

.nextbtn:focus {
  color: #888;
  background-color:transparent;
  border:0px !important;
  outline: 0
}

.padding-32 {
  padding: 32px;
}

.side-padding-20 {
  padding-left: 20px;
  padding-right: 20px
}

.zeropad {
  padding: 0px !important;
  margin: 0px !important
}

ul.myList {
  list-style: none; /* Remove default bullets */
}

ul.myList li::before {
  content: "\2022";
  color: #bed1c5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
